.kingdom {
    display: flex;
    flex-direction: column;
}
.msi {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}
.acdc {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.Skillet {
    margin: 6px 3px;
    width: 33%;
}
.ad {
    display: flex;
    flex-direction: row;
    margin: 25px;
}
.ass {
    margin: 25px;
    display: flex;
    flex-direction: column;
    width: 30%;
}
.xss {
    margin-left: 17px;
}
.xs {
    padding: 10px 5px;
}
